.yc-left-menu{
    .document-search_btn{
        //background: #000c17 !important;
        width:100%;
    }
    .ant-menu-item{
        margin: 0px !important;
    }
}

.item_position{
    position: relative;
    .item_remark{
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
    }
}

#sider-menu-wrapper{
    .ant-menu-submenu-title{
        height: 48px;
        line-height: 48px;
    }
    .sider-menu{
        &_sub-menu{
            &_title{
                font-size: 14px;
            }
        }
        &_item{
            margin: 0;
            font-size: 13px;
            padding-left: 38px!important;
            height: 36px;
            a{
                height: 100%;
                line-height: 36px;
            }
        }
    }
    li{
        &:first-child{
            ul{
                padding-bottom: 16px;
            }
        }
    }
}
