.top-title {
  display: flex;
  background-color: #016AA9;
  width: 100%;
  height: 50px;
  color: #ffffff;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding:0 20px;
  .title{
    font-size: 16px;
    img{
      width:21px;
      height:21px;
    }
    span{
      margin-left:5px;
    }
  }
  .user-message{
    .dropdown-link{
      color: #ffffff;
    }
  }
}
.ant-modal {
  .ant-modal-content{
    .ant-form-item{
      margin-bottom: 14px;
    }
  }
}
.yc-change-pwd{
  .ant-form-explain{
    margin-left: 126px;
  }
}
.yc-components-topMenu{
  margin-top:10px !important;
  padding: 0 !important;
  li{
    padding: 0;
  }
  &_item{
    width:100px;
    height:38px;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    font-size:14px;
    &:hover{
      background: EAF7FF;
      color: #016AA9;
    }
  }
}


.forgetPassword-form{
  padding-top:15px !important;
}
.yc-signout-btn{
  .ant-modal-confirm-btns{
    button[type=button]{
      width: 100px;
      height: 32px;
      &:last-child{
        margin-left: 20px;
      }
  }
  }
}