.yc-login {
  height: 100%;
  width: 100%;
  min-width: 1200px;
  background: #fff;
  background-image: url(../../assets/img/bg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  .yc-login-header {
    margin-top: 30px;
    height: 100px;
    .header-img {
      margin: 0 auto;
      width: 1200px;
      padding: 25px 0;
      img{
        height: 50px;
      }
    }
  }

  .yc-login-container {
    height: 650px;
    padding-top: 85px;

    .yc-container-body {
      height: 600px;
      margin: 0 auto;
      width: 1200px;
      overflow: hidden;
      position: relative;

      .yc-left {
        float: left;
        margin: 0;
      }

      .yc-right-login {
        width: 400px;
        background-color: #ffffff;
        height: 360px;
        position: relative;
        float: right;
        margin-top: 100px;
        border-radius: 6px;
        .yc-form-title{
          margin-top: 37px;
          text-align: center;
          font-size: 16px;
          color: #293038;
        }
        .login-form{
          padding:27px 40px;
          .yc-input{
            width: 320px;
            height: 40px;
          }
          .yc-forget{
            font-size:12px;
            color:#293038;
          }
          .yc-login-button{
            width: 320px;
            height: 40px;
            font-size: 16px;
            background-color: #0099CC;
            margin-top: 37px;
          }
          .yc-get-code{

          }
        }
      }
      .yc-right-find{

      }
    }
  }

  .yc-login-footer {
    height: 100px;

    .footer-container {
      margin-top: 30px;
      margin-left: 300px;
      color: #666666;
      font-size: 14px;
    }
  }


}

