.yc-struct{
  .yc-every-line{
    width: 100%;
    height: 300px;
  }
}
.yc-chart{
  .yc-left-chart{
    float:left;
    width:35%;
    .yc-ring-pie{
      float:left;
      width: 40%;
      height: 200px;
    }
    .yc-ring-text{
      margin:10px;
      text-align:center;
      .ring-text{
        float:left;
        width:150px;
        text-align:left;
        color:#293038;
      }
      .yc-border-line{
        color:#293038;
        font-weight: 800;
        margin-top:5px;
        border-top: 1px solid #e2e4e9;
       }
    }
  }
  .yc-right-chart{
    float:right;
    height: 380px;
    width:64%;
    .yc-python-tag{
      width: 100%;
      height: 340px;
    }
  }
}

.yc-time-chart{
  background-color: white;
  .yc-left-chart{
    float:left;
    width:65%;
    height:420px;
    .ant-calendar-picker-input.ant-input{
      font-size: 12px;
    }
    .ant-select-selection-selected-value{
      font-size: 12px;
    }
    .chart{
      width: 95%;
      height:360px;
    }
  }
  .yc-right-chart{
    float:right;
    height:420px;
    width:35%;
    .yc-python-tag{
      width: 100%;
      height: 340px;
    }
  }
}

