.yc-detail-newpage{
    background-color: #EDEFF3;
    .assetstructure-detail{
        margin: 25px auto;
        width:1280px;
        min-height: 95vh;
        .roleInfo_body{
            .roleInfo_body-header{
                padding-left: 23px;
                .name{
                    width:261px;
                }
                .role{
                    width: 120px;
                }
                .certification{
                    width: 252px;
                }
                .birth{
                    width: 126px;
                }
                .sex{
                    width: 84px;
                }
                .note{
                    width: 296px;
                }
            }
            .roleInfo_body-InputRow{
                .auto_complete_content{
                    position: relative;
                    margin:0 20px 0 0;
                }
                .atuo_complete,.atuo_complete_nodata{
                    width: 256px;
                    .ant-input{
                        width: 256px;
                    }
                }
                .role-edit{
                    width: 100px;
                    margin-right:20px;
                    .ant-select-selection{
                        width: 100px;
                    }
                }
                .number-input,.number-edit{
                    margin-right:20px;
                    width: 240px;
                }
                .birthdy-edit{
                    margin-right:20px;
                    width: 108px;
                }
                .sex-select{
                    margin-right:20px;
                    width: 64px;
                }
                .tips-box{
                    margin-right:20px;
                    width: 276px;
                }
            }
        }
    }
    .ant-popover{
        left: -2% !important;
    }
}
.assetstructure-detail{
    margin: 20px;
    min-height: 90vh;
    background: #fff;
    &_header {
        height: 56px;
        padding-left: 20px;
        line-height: 56px;
        font-size: 16px;
        font-weight: bold;
        color: #293038;
        border-bottom:1px solid #E2E4E9;
        position: relative;
        .buttonGroup-back{
            position: absolute;
            right: 20px;
            top: 12px;
        }
    }
    &_container {
        padding:20px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        position: relative;
    }

    .yc-component-assetStructureDetail {
        &:first-child{
            width: 100%;
        }
        font-size: 14px;
        color: #293038;
        width: 35%;
        &_header {
            font-size: 16px;
            font-weight: bold;
            padding-left: 8px;
            border-left: 3px solid #016AA9;
            height: 20px;
            line-height: 20px;
        }
        &_body{
            ul{
                padding: 13px 0 19px 0;
                margin: 0;
                li{
                    display: flex;
                    &:last-child{
                        margin-bottom: 0;
                    }
                    list-style: none;
                    margin-bottom: 6px;
                    line-height: 14px;
                    .list_title{
                        &:first-of-type{
                            min-width: 120px;
                            text-align:right;
                            line-height: 20px;
                        }
                    }
                    div{
                        line-height: 20px;
                    }
                }
                .danger-error{
                    color:#fb0037;
                    line-height: 20px;
                }
                .danger-color{
                    color:#F03733;
                    line-height: 20px;
                }
                .record-noErr{
                    color: green;
                }
            }
        }
        p{
            margin: 0;
        }
    }
    .basic_info{
        width: 100%;
        ul{
            padding-top: 11px;
            li{
                &:first-child{
                    font-size: 16px;
                };
                span{
                    &:nth-child(n+3){
                        display: inline-block;
                        padding-left: 120px;
                        padding-top: 8px;
                    }
                }
            }
            .records{
                p{
                    line-height: 20px;
                    margin-bottom: 6px;
                }
            }  
        }

    }
    .return_mark{
        li{
            p{
                margin-bottom: 6px;
                &:last-child{
                    margin-bottom: 0;
                }
            }
        }
    }
    .error-reason_info{
        width: 100%;
        .wrong-data{
            margin-left: 50px !important;
            line-height: 20px;
        }
        .wrong-detail{
            p{
                line-height: 20px;
                margin-bottom: 6px;
                &:last-child{
                    margin-bottom: 0;
                }
            }
        }
    }
    .property_info{
        ul{
            li{
                margin-bottom: 10px;
            }
        }
    }
    .document_info{
        ul{
            li{
                margin-bottom: 10px;
            }
        }
        .icon_hover_pointer{
            cursor: pointer;
        }
        .doucment_info_inputContent{
            .doucment_info_inputItem{
                display: flex;
                align-items: center;
                margin-bottom: 16px;
                &:last-child{
                    margin-bottom:0;
                }
                input{
                    width: 225px;
                }
            }
            .atmost-tip{
                text-align: right;
                width: 225px;
                color: #808387;
                line-height: 12px;
                font-size: 12px;
                margin-top: -10px;
            }
        }
    }
    .roleInfo {
        width: 100%;
        .roleInfo_body{
            margin-top: 20px;
        }
        .roleInfo_body-header{
            width: 100%;
            display: flex;
            padding-left: 32px;
            height: 46px;
            background: #EDEFF3;
            line-height: 46px;
            .name{
                width:291px;
            }
            .role{
                width: 170px;
            }
            .certification{
                width: 306px;
            }
            .birth{
                width: 200px;
            }
            .sex{
                width: 108px;
            }
            .note{
                width: 383px;
            }
        }
        .roleInfo_body-addRole{
            margin-top: 15px;
            .ant-btn {
                width: 100%;
            }
        }
        .roleInfo_body-InputRow {
            width: 100%;
            min-height: 84px;
            border-bottom: 1px #e2e4e9 solid;
            display: flex;
            align-items: center;
            padding: 24px 0;
            .ant-input,.ant-select{
                height: 36px;
            }
            .role-edit{
                width: 140px;
                margin-right: 30px;
                .ant-select-selection{
                    width: 140px;
                }
            }
            .number-input,.number-edit{
                width: 276px;
                margin-right: 30px;
            }
            .birthdy-edit{
                width: 170px;
                margin-right: 30px;
            }
            .sex-select{
                width: 78px;
                margin-right: 30px;
            }
            .tips-box{
                width: 360px;
                margin-right: 30px;
                min-height: 36px;
                resize: none;
            }
            .del_role_item{
                box-shadow: none;
                &:hover{
                    background: #016AA9 !important;
                    color: #fff !important;
                }
                width: 80px;
                height: 32px;
            }
            .ant-select-selection__rendered {
                width: 60px;
                line-height: 36px;
                .ant-select-selection__placeholder{
                    color: #B2B8C9 !important;
                }
            }
            .ant-select-selection-selected-value{
                overflow: visible !important;
            }
            .ant-select-arrow {
                right: 5px;
            }
            .ant-select-selection--single{
                height: 36px;
            }
            .ant-select-dropdown--single{
                width: 240px;
            }
            .ant-select-dropdown-menu-vertical{
                background: #FFFFFF;
                box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.1);
                border-radius: 2px;
                border: 1px solid #DDE0E7;
                padding:0;
                li{
                    font-size: 14px;
                    background: #fff;
                    line-height: 20px;
                    padding: 3px 12px ;
                    box-sizing: content-box;
                    font-weight: normal;
                    white-space: normal;
                    overflow: visible;
                    word-break: break-all;
                    &:first-child{
                        padding-top: 9px;
                    }
                    &:last-child{
                        padding-bottom: 9px;
                    }
                    &:hover{
                        background: #fff;
                    }
                }
            }
            //自动联想输入框
            .auto_complete_content{
                position: relative;
                margin:0 30px 0 20px;
            }
            .atuo_complete,.atuo_complete_nodata{
                position: relative;
                width: 273px ;
                .ant-select-search__field {
                    width: 273px ;
                    margin: 0 !important;
                }
                .ant-select-selection__rendered {
                    width: 273px ;
                    line-height: 36px;
                }
            }
            //无数据时样式
            .atuo_complete_nodata{
                .ant-select-search__field{
                    border: 1px solid #FD9C26 !important;
                }
            }
            
            .auto_complete_nodata{
                line-height: 12px;
                font-size: 12px;
                color: #FD9C26;
                padding-top: 6px ;
                margin-bottom: 0;
                position: absolute;
            }
            
            .auto_complete_nodatas{
                position: absolute;
                width: 100%;
                margin-top: 6px;
                height: 46px;
                background: #FFFFFF;
                box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.1);
                border-radius: 2px;
                border: 1px solid #DDE0E7; 
                color: #7D8699;
                font-size: 14px;
                text-align: center;
                line-height: 46px;
            }
            .number{
                position: relative;
                .number-input{
                    border: 1px solid #F03733;
                    box-shadow: none;
                }
                p{
                    font-size: 12px;
                    color: #F03733;
                    position: absolute;
                    top: 38px;
                }
            }
        }
    }
    .detail-buttonGroup{
        position: absolute;
        right: 20px;
        display: flex;
        align-items: center;
    }
}

