.yc-debt-detail{
    padding: 14px 40px 0;
    font-size: 14px;
    position: relative;
    .debt-detail-components{
        width: 100%;
        .header{
            font-size: 16px;
            font-weight: bold;
            padding-left: 8px;
            border-left: 3px solid #016AA9;
            height: 20px;
            line-height: 20px;
            margin-bottom: 26px;
            position: relative;
            .header-btn{
                position: absolute;
                right: 0;
                top: -6px;
            }
        }
        ul{
            padding: 0;
            margin: 0;
            li{
                list-style: none;
            }
        }
        .action-btn-group{
            display: flex;
            width: 78px;
            justify-content: space-around;
            span{ 
                color: #016AA9;
                &:nth-child(2){
                    color: rgba(226, 228, 233, 1);
                }
            }
        }
        .ant-popover-inner-content{
            border-radius: 4px;
            font-size: 12px;
            padding:10px;
        }
        .ant-popover-arrow{
            left:20px !important;
        }
    }
    .debt-detail-action{
        position: absolute;
        right: 40px;
    }
    .debt-basic{
        ul{
            line-height: 14px;
            margin-bottom:32px;
            li{
                display: flex;
                margin-bottom: 20px;
                div{
                    &:first-child{
                        width: 114px;
                        text-align: right;
                    }
                    &:last-child{
                        max-width: 1400px;
                        p{
                            margin-bottom: 10px;
                        }
                    }
                }
            }
        }
    }
    .debt-asset-package{
        .header{
            margin-bottom: 0;
            .ant-popover{
                left:82px !important;
            }
        }
        .asset-package-disabled{
            display: flex;
            line-height: 14px;
            margin:26px 0 46px;
            li{
                display: flex;
                &:first-child{
                    margin-right: 50px;
                    div{
                        &:first-child{
                            width: 114px;
                            text-align: right;
                        }
                    }
                }
                margin-right: 55px;
            }
        }
        .asset-package-edit{
            display: flex;
            line-height: 14px;
            margin:17px 0 36px;
            li{
                display: flex;
                align-items: center !important;
                &:first-child{
                    margin-right: 52px;
                    div{
                        &:first-child{
                            width: 114px;
                            text-align: right;
                        }
                    }
                }
                margin-right: 50px;
            }
        }
    }
    .debt-system-extract{
        margin-bottom: 48px;
        .header{
            margin-bottom: 0;
            .ant-popover{
                left:100px !important;
            }
        }
        .system-extract{
            .title{
                font-weight: bold;
                font-size: 16px;
                line-height: 16px;
                padding: 32px 0 24px 32px;
            }
        }
    }
    .debt-house-hold{
        margin-top: 8px;
        .no-save{
            position: relative;
            padding: 0 !important;
            text-align: center;
        }
        .users-info{
            .info-line{
                display: flex;
                margin-bottom: 6px;
                .name{
                   min-width:110px;
                }
            }
        }
        .ant-pagination{
            padding: 30px 0 40px 0 !important;
        }
        .hasColor{
            color: #016AA9;
        }
    }
}


.debt-modal-container{
    .ant-modal-header{
        padding: 19px 20px !important;
        .ant-modal-title{       
            color: #262626 !important;
        }
    }
    .ant-modal-body{
        padding: 0 !important;
    }
    .ant-modal-footer{
        padding: 0 !important;
        .footer{
            height: 56px;
            box-sizing: border-box;
            border-top: 1px solid #E2E4E9;
            padding: 12px 24px ;
        }
    }
    .msgs-info-modal{
        width:658px;
        display: flex;
        flex-wrap: wrap;
        padding: 12px 24px 0;
        li{
            display: flex;
            margin-bottom: 24px;
            width: 33%;
            word-break:break-all;
            div{
                &:first-child{
                    min-width: 42px;
                }
            }
            &:first-child{
                width: 100%;
            }
            &:last-child{
                width: 100%;
            }
        }
    }
}
.debt-detail-confirm{
    .ant-modal-confirm-content{
       font-size: 14px !important;
       line-height: 18px !important;
    }
    .ant-modal-confirm-btns{
        .ant-btn{
            width: auto;
            min-width: 84px;
        }
    }
}
.number-modal{
    .ant-modal-body{
        padding:24px !important;
    }
    .ant-table-content{
        border: 1px solid #E8E8E8;
        border-bottom: none;
    }
    .ant-modal-footer{
        padding: 12px 0 0!important;
        height: 56px;
        border-top:1px solid #E8E8E8 !important;
    }
}