

.yc-main-body{
    margin-top:-2px;
    background-color:#293038;
    min-height:1200px;
}
.yc-left-menu{
    float:left;
    width:150px;
}
.yc-right-content{
    overflow:hidden;
    min-height:1200px;
    background-color:#EDEFF3;
}