@import '../../../node_modules/antd/dist/antd.less';
@primary-color: #016AA9; // 全局主色
@font-size-base: 14px;
@text-color: #293038; // 主文本色
@table-padding-vertical: 14px;
@table-padding-horizontal: 20px;
@dropdown-selected-color: #0386D5;
@item-hover-bg: #EAF7FF;
@item-active-bg: #EAF7FF;
@table-row-hover-bg: #EAF7FF;
@table-header-bg: #EDEFF3;
/* @link-hover-decoration: underline; */