.assetStructureDetail-structure {
    min-height: 830px;
    &_container {
        padding: 11px 20px;
        display: flex;
        flex-direction: column;
        &_header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        &_body {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
    }
    .yc-components-assetStructureDetail_header{
        font-size:16px;
        padding-left: 8px;
        border-left: 3px solid #016AA9;
        height: 20px;
        line-height: 20px;
    }
    .yc-components-assetStructureDetail{
        font-size:14px;
    }
}