.yc-component-buttonGroup {
    display: flex;
    width: 50%;
    flex-direction: row;
    justify-content: flex-end;
    &-structure{
        display: flex;
    }
    &-onlyMark {
        height:32px;
        margin-top:7px;
        display: inline-block;
        span{
            font-size: 12px;
        }
    }
    &-saveGet {
        background-color: #cccccc;
        border-radius: 2px;
        width: 140px;
        height: 32px;
        color:#eee;

    }
    .btnText_1{
        display: flex;
    }
}
