.document-search {
    .ant-form-item-control-wrapper:nth-child(2) {
        width: calc(98.8% - 42px);
    }
    .ant-input {
        width: 240px;
    }
}
.yc-tab {
    .ws-link:hover {
        text-decoration: underline;
    }
}
