.document-search {
    .ant-form-item-control-wrapper:nth-child(2) {
        width: calc(98.8% - 42px);
    }
    .ant-input {
        width: 240px;
    }
    margin-bottom: 16px;
}
.yc-tab {
    .ws-link:hover {
        text-decoration: underline;
    }
}
.record-content{
    display: flex;
    flex-wrap: wrap;
    font-size: 12px; 
    padding-left: 42px;
    line-height: 12px;
    span{
        &:first-child{
            border: none;
            background: none;
            margin-right: 0;
            padding: 4px 0;
        }
        margin:8px 8px 0 0;
        background: #EDEFF3;
        padding: 4px 8px;
        background: #F5F5F5;
        border-radius: 2px;
        border: 1px solid #E2E4E9;
    }
    img{
        width: 14px;
        height: 14px;
    }
    .del_icon{
        border: none;
        background: none;
        margin-right: 0;
        padding-right: 0;
        position: relative;
    }
    .ant-popover{
        .ant-popover-arrow{
            left: 68px !important;
        }
    }
    .ant-popover-inner-content{
        height: 32px !important;
        width: 128px !important;
        line-height: 32px;
        text-align: center;
        color: #fff;
        font-size: 14px;
        border-radius: 3px;
        padding: 0;
        background: rgba(0, 0, 0, 0.75);
        box-shadow: 0px 9px 28px 8px rgba(0, 0, 0, 0.05), 0px 6px 16px 0px rgba(0, 0, 0, 0.08), 0px 3px 6px -4px rgba(0, 0, 0, 0.12);
    }
}
