.ant-modal {
  .ant-modal-content {
    .ant-modal-body {
      padding: 30px 50px 40px 40px;
    }
  }
}


.checkError-modal {
  font-family: PingFangSC-Regular, PingFang SC;

  .ant-modal-content {
    width: 560px;
    position: relative;
    top: -40px;
    .ant-modal-header {
      height: 58px;

      img {
        position: relative;
        top: -1px;
        margin-right: 4px;
      }
    }

    .ant-modal-body {
      padding: 30px;
    }
  }

  .check-modal {
    .part {
      line-height: 14px;
      font-size: 14px;
    }

    .ant-form-item {
      margin: 0;
    }

    .remark {
      textarea {
        max-width: 560px;
        resize: none;
        padding: 8px 12px 10px 9px;
        line-height: 17px;
        font-size: 14px;
        color: #293038;
        border-radius: 2px;
        margin-bottom: 0;
      }
    }

    .ant-form-item-control-wrapper {
      width: 500px;
    }

    .ant-form-item-control {
      line-height: 12px;
    }

    .ant-checkbox-wrapper {
      span {
        font-size: 12px;
      }

      .ant-checkbox {
        position: relative;
        top: -1px;
      }
      .ant-checkbox-checked {
        .ant-checkbox-inner::after {
          border: 1px solid #fff;
          border-top: 0;
          border-left: 0;
        }
      }

      .ant-checkbox-inner {
        position: relative;
        width: 12px;
        height: 12px;

        &::after {
          width: 5px;
          height: 8px;
          top: 48%;
          left: 16%;
        }
      }
    }

    .ant-radio-wrapper {
      span {
        font-size: 12px;
        .ant-radio-inner {
          position: relative;
          top: -3px;
          width: 10px;
          height: 10px;

          &::after {
            width: 3px;
            height: 3px;
            top: 3px;
            left: 3px;
          }
        }
      }
    }
    .second-radio {
      .ant-radio-inner {
        &::after {
          width: 3px;
          height: 3px;
          top: 3px;
          left: 2.5px !important; 
        }
      }
    }


    .ant-form-item-label {
      line-height: 14px;
      margin: 18px 0 10px 0;
      color: #293038;
      font-weight: bold;
      font-size: 14px;
    }

    .err-type {
      .part-title {
        font-size: 14px;
        font-weight: bold;
        line-height: 14px;
        color: #293038;
        margin: 18px 0 12px 0;
      }

      .part-error-detail {
        width: 500px;
        height: 194px;
        border-radius: 2px;
        border: 1px solid #E2E4E9;
        overflow: auto;
      }
      .part-error-content{
          font-size: 12px;
          line-height: 22px;
          color: #4F5358;
          padding: 0 9px;
          &:first-child{
            padding-top: 7px;
          }
          &:last-child{
            padding-bottom: 7px;
          }
          &:hover{
            background: #F5F6FA;
          }
      }
    }

    .footer {
      margin-top: 30px;
      width: 560px;
      display: flex;
      justify-content: center;

      .ant-btn {
        width: 120px;
        height: 36px;
        margin-right: 20px;
      }
    }
  }
  //滚动条的宽度
  ::-webkit-scrollbar {
    width:6px;
  }

  //外层轨道。可以用display:none让其不显示，也可以添加背景图片，颜色改变显示效果

  ::-webkit-scrollbar-track {
    width: 6px;
    background-color:#FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius:3px;
  }

  //滚动条的设置

  ::-webkit-scrollbar-thumb {
    background-color:#D9D9D9;
    background-clip:padding-box;
    min-height:28px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius:3px;
  }
  //滚动条移上去的背景

  ::-webkit-scrollbar-thumb:hover{
    background-color:#BFBFBF;
  }
  ::-webkit-scrollbar-track:hover{
    background-color:#E8E8E8;
  }
}