
  .externalSource-document-container {
    background-color: #fff;
    width: 1200px;
    margin: 0 auto;
    text-align: left;
    .container_body {
      width: 904px;
      padding: 50px 0 64px 40px;
      .title {
        font-size: 22px;
        color: #293038;
        line-height: 30px;
        padding-left: 26px;
        margin-bottom: 20px;
      }
      .publishTime {
        > p {
          font-size: 16px;
          color: #808387;
          line-height: 16px;
        }
      }
      .line {
        border-top: 1px solid #e2e4e9;
        margin-top: 30px;
        margin-bottom: 30px;
      }
    }
    .container_rightInfo {
      z-index: 2;
      box-shadow: 0 1px 6px 0 rgba(0, 16, 43, 0.17);
      width: 236px;
      min-height: 370px;
      position: fixed;
      top: 150px;
      right: 0;
      margin-right: calc((100% - 1120px) / 2);
      padding: 24px 31px 25px 20px;
      textarea{
        display: none;
      }
      .title{
        font-size:16px;
        font-weight:500;
        color:rgba(41,48,56,1);
        line-height:16px;
        margin-bottom:14px;
      }
      > div {
        .link {
          font-size: 12px;
          line-height: 16px;
          word-break: break-all;
          color: #337ab7;
          &:hover{
            cursor: pointer;
          }
        }
        .message-line {
          margin-bottom: 8px;
          position: relative;
          input[name="toggle"]:checked {
            & + div {
              -webkit-line-clamp: unset;
            }
            & ~ label {
              &::after {
                content: "收起";
                color:#0099CC;
                cursor: pointer;
              }
            }
          }
          label {
            color:#0099CC;
            &::after {
              content: "更多";
              color:#0099CC;
              cursor: pointer;
            }
          }
          > div {
            display: inline-block;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
          }
          .message-line-left {
            color: #808387;
            width: 60px;
            position: absolute;
            top: 0;
          }
          .message-line-right {
            color: #293038;
            width: 120px;
            margin-left: 65px;
          }
        }
      }
    }
  }
  

