.yc-components-accountManagement-addRoleModal{
  width:387px;
  .structureObject {
    width:295px;
    position: relative;
    margin-top: 12px;
    border: 1px solid #e2e4e9;
    border-radius: 2px;
    padding: 20px 27px;
    &-dataType {
      margin-top: 16px;
      position: relative;
    }
  }
  .form-col-temp{
    margin-top: -18px;
    .ant-form-item-label{
      width: auto;
    }
  }
}
