
.yc-detail-title{
  border-bottom: 1px solid #e2e4e9;
  padding: 16px 0 0 20px;
  .yc-button-goback {
    float: right;
    display: inline-block;
    margin-right: 20px;
    position: relative;
    bottom: 38px;

    p {
      display: inline-block;
      margin-right: 20px;
    }

    div {
      display: inline-block;
    }
  }
}
.yc-detail-content{

  .yc-action{
    padding: 10px 0;
    position: absolute;
    right: 20px;
  }
  .yc-wrong-part {
    padding: 10px 0 0 20px;
    color: #293038;
    font-size: 12px;


    .yc-part-title {
      font-size: 14px;
      font-weight: 700;
    }

    .yc-wrong-detail {
      margin-bottom: 16px;
      font-size:12px;

      .yc-struc-text {
        color: red;
        display: block;
      }

      .yc-sec-title {
        display: inline-block;
        font-size:12px;

      }

      .yc-link-title {
        display: inline-block;
        color: #0099cc;
        font-size:12px;
      }

      .yc-link-title:hover {
        cursor: pointer;
      }

      .yc-error {
        display: inline-block;
        color: red;
        margin-left: 5px;
      }


      .add-btn {
        height: 40px;
        margin-top: 21px;
        margin-left: 10px;
        text-align: center;
        border: 1px dashed #808387;
        border-radius: 2px;
        padding-top: 10px;
        font-size: 14px;
        color: #293038;
        width:90%;
      }

      .range {
        display: inline-block;

        > p {
          float: right;
          margin-right: 27px;
          color: #808387;
        }
        .yc-sec-title {
          display: inline-block;
          font-size:12px;

        }

        .range-item {
          margin-bottom: 8px;
          position: relative;

          .add-img {
            width: 18px;
            height: 18px;
            position: relative;
            left: 8px;
            top: 5px;
          }

          .add-img:hover {
            cursor: pointer;
          }

          .delete-img {
            width: 10px;
            height: 10px;
            position: absolute;
            right: 13px;
            top: -5px;
          }

          .delete-img:hover {
            cursor: pointer;
          }
        }
      }

    }


    .table-detail {
      margin-right: 10px;
      .table {

        li {
          list-style-type: none;
        }

        .header {
          background-color: #edeff3;
          height: 40px;
          padding: 0 12px;

          > p {
            display: inline-block;
            width: 14%;
            padding: 12px;
          }
        }

        .t-body {
          border-bottom: 1px solid #e2e4e9;

          .item {
            display: inline-block;
            width: 14%;
            height: 64px;
            padding: 12px;
            .error {
              position: absolute;
              left: 70%;
              top: 71%;
              color: red;
            }
          }
        }
      }
    }
    .left-part{
      width: 50%;
      display: inline-block;
      float: left;

    }
    .right-part{
      width: 45%;
      display: inline-block;

    }
  }
.ant-modal{
  .ant-modal-content{
    width: 430px;
  }
}
}
