.yc-right-detail{
  border-bottom: 1px solid #e2e4e9;
  padding: 16px 0 0 20px;
  .yc-button-goback {
    float: right;
    display: inline-block;
    margin-right: 20px;
    position: relative;
    bottom: 38px;

    p {
      display: inline-block;
      margin-right: 20px;
    }

    div {
      display: inline-block;
    }
  }
}

