.yc-detail-title{
  border-bottom: 1px solid #e2e4e9;
  padding: 16px 0 0 20px;
  .yc-button-goback {
    float: right;
    display: inline-block;
    margin-right: 20px;
    position: relative;
    bottom: 38px;

    p {
      display: inline-block;
      margin-right: 20px;
    }

    div {
      display: inline-block;
    }
  }
}
.yc-detail-content{

  .yc-action{
    padding: 10px 0;
    position: absolute;
    right: 20px;
  }

  .yc-wrong-part {
    padding: 10px 0 0 20px;
    color: #293038;
    font-size: 12px;

    .yc-part-title {
      font-size: 14px;
      font-weight: 700;
    }

    .yc-wrong-detail {
      margin-bottom: 16px;

      .yc-struc-text {
        color: red;
        display: block;
      }

      .yc-sec-title {
        display: inline-block;
      }

      .yc-link-title {
        display: inline-block;
        color: #0099cc;

      }

      .yc-link-title:hover {
        cursor: pointer;
      }

      .yc-error {
        display: inline-block;
        color: red;
        margin-left: 5px;
      }
    }
  }
}

