.yc-bankrupt-wrapper{
  padding: 20px;
  .yc-bankrupt-content{
    background-color: #fff;
    &-all{
      padding: 16px 20px;
    }
    &_tabs .ant-tabs-tab{
      padding: 6px 10px 10px 10px;
      margin-right: 20px;
    }
  }
  .list-query-wrapper{
    &-form{
      position: relative;
      .ant-form-item{
        margin-bottom: 6px;
      }
    }
    &-button{
      position: absolute;
      right: 0;
      bottom: 0;
      z-index: 1;
    }
  }
  .list-table-wrapper{
    line-height: 20px;
    .list-table-status{
      &_dot{
        display: inline-block;
        vertical-align: top;
        border-radius: 50%;
        width: 6px;
        height: 6px;
        background: #000;
        margin-right: 5px;
        margin-top: 7px;
      }
    }
  }
}
