.yc-detail-content{
    .addUser-button{
        text-align:right;
        button{
            border: #016AA9 1px solid;
            span{
                color: #016AA9;
            }
            &:hover{
                border: none;
                background: #016AA9;
                span{
                    color: #fff;
                }
            }
        }
    }
    .role-table{
        margin-top: 16px; 
        font-size: 12px;
        a:hover{
            text-decoration: underline;
            color:#01598F;
        }
    }
    .ant-table-pagination{
        a:hover{
            text-decoration: none;
        }
    }
    .role-tab{
        margin: 8px 20px 0 20px;
        font-size: 12px;
    }
}
.sorter-tab{
    .ant-table-thead{
        .ant-table-column-has-sorters{
            background: #EDEFF3 !important;
            &:hover{
                ::before{
                    background: #EDEFF3 !important;
                }
            }
        }
    }
    .ant-table-column-has-sorters{
            background: #fff !important;
    }
    .ant-table-row{
        &:hover{
            .ant-table-column-has-sorters{
                background: #EAF7FF !important;
            }
        }
    }
}
