.yc-detail-content{
    .addUser-button{
        margin:10px;
        text-align:right;
    }
    .role-table{
        margin: 10px; 
        font-size: 12px;
    }
    .role-tab{
        margin: 15px; 
        font-size: 12px;
    }
}