body {
  margin: 0;
  font-family: PingFangSC-Regular, PingFang SC,Microsoft YaHei, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding:0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.ant-table-thead > tr > th {
  font-weight: bold!important;
  color:#4E5566 !important
}
.a-link{
  color: #016AA9;
}
.a-link:hover{
  text-decoration: underline;
}
/*::-webkit-scrollbar {*/
/*  width: 3px;*/
/*}*/

/*::-webkit-scrollbar-track!*滑动轨道*!*/
/*{*/
/*  border-radius: 3px;*/
/*  background: #E2E4E9;*/
/*  border-left:none;*/
/*}*/

/*::-webkit-scrollbar-thumb!*滑块*!*/
/*{*/
/*  border:none;*/
/*  border-radius: 3px;*/
/*  background: #B2B8C9;*/
/*}*/
/*::-webkit-scrollbar-thumb:hover!*滑块效果*!*/
/*{*/
/*  border-radius: 3px;*/
/*  background:#EDEFF3;*/
/*}*/
