.yc-components-assetStructureDetail_body-row{
    .ant-btn{
        margin-left:12px;
    }
    .seeDetail{
        margin-left:95px;
    }
}
.atmost-tips{
    text-align: right;
    width: 310px;
    color:rgba(128,131,135,1);
    line-height:12px;
    font-size:12px;
    margin-top: 6px;
}
.wenshu-info{
    .documentDetail_row{
        position: relative;
        left: 4px;
    }
    .ant-radio-group{
        position: relative;
        left: 10px;
    }
}
.del_role_item{
    width:66px;
    height:28px;
    border-radius:2px;
    color:rgba(41,48,56,1) !important;
    border:1px solid rgba(226,228,233,1) !important;
}