.yc-components-assetStructureDetail_body-row{
    .ant-btn{
        margin-left:12px;
    }
    .seeDetail{
        margin-left:84px;
    }
}
.atmost-tips{
    text-align: right;
    width: 310px;
    color:rgba(128,131,135,1);
    line-height:12px;
    font-size:12px;
    margin-top: 6px;
}