.yc-components-assetStructureDetail {
    font-size: 12px;
    color: #293038;
    margin-top: 9px;
    margin-bottom: 32px;
    width: 50%;
    &_header {
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 20px;
        .role_mark {
            margin-left: 4px;
        }
    }
    .danger-info {
        color: #fb0037;
    }
    .ant-input {
        width: 225px;
    }
    .ant-select-selection-selected-value{
        overflow: visible !important;
    }
}

.yc-components-roleDetail {
    min-width: 1210px;
    width: 100%;
    .role-info_row {
        font-size: 12px;
        height: 40px;
        padding: 14px 0 20px 14px;
    }
    .role-info_col {
        display: inline-block;
        width: 200px;
        height: 12px;
        font-size: 12px;
        font-family: PingFangSC-Regular, PingFang SC, serif;
        font-weight: 400;
        color: rgba(41, 48, 56, 1);
        line-height: 12px;
    }
}
.yc-components-assetStructureDetail_body-row {
    line-height: 16px;
    margin-top: 16px;
    &_title {
        margin-right: 4px;
    }
    &_content {
        width: 100%;
        white-space:pre-wrap;
    }
    &_link{
        &:hover{
            text-decoration: underline;
        }
    }
    .addition-ah {
        margin-left: 100px;
    }
    .ant-input {
        width: 225px;
    }
    .structure-record-error{
        color:red;
    }
    .structure-record-noErr{
        color:green;
    }
}

.yc-components-assetStructureDetail_body-roleRow {
    line-height: 14px;
    height: 46px;
    background: rgba(237, 239, 243, 1);
    padding: 16px 0 16px 22px;
    display: flex;
    flex-direction: row;
    min-width: 1210px;
    font-size: 14px;
    .name {
        width: 259px;
    }
    .role {
        width: 161px;
    }
    .certification {
        width: 260px;
    }
    .birth {
        width: 258px;
    }
    .sex {
        width: 150px;
    }
    .note {
        width: 386px;
    }
    .operation {
        width: 66px;
    }
}
.yc-components-assetStructureDetail_body-roleInputRow {
    height: auto;
    padding: 11px 44px 20px 0;
    border-bottom: 1px #e2e4e9 solid;
    display: flex;
    .ant-input {
        width: 240px;
        margin-left: 20px;
        height: 30px;
    }
    .ant-select {
        width: 140px;
        margin-left: 20px;
        height: 30px;
    }
    .sex-select{
        width: 130px;
    }
    .tips-box{
        width: 360px;
        resize: none;
    }
    .ant-btn {
        margin-left: 20px;
        width: 80px;
    }
    .del_role_item{
        box-shadow: none;
        &:hover{
            background: #016AA9 !important;
            color: #fff !important;
        }
    }
    .ant-select-selection__rendered {
        width: 60px;
        .ant-select-selection__placeholder{
            color: #B2B8C9 !important;
        }
    }
    .ant-select-arrow {
        right: 5px;
    }
    .ant-select-selection--single{
        height: 30px;
    }
    .ant-select-dropdown--single{
        width: 240px;
    }
    .ant-select-dropdown-menu-vertical{
        background: #FFFFFF;
        box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.1);
        border-radius: 2px;
        border: 1px solid #DDE0E7;
        padding:0;
        li{
            font-size: 14px;
            background: #fff;
            line-height: 20px;
            // height: 28px;
            padding: 3px 12px ;
            box-sizing: content-box;
            font-weight: normal;
            white-space: normal;
            overflow: visible;
            word-break: break-all;
            &:first-child{
                padding-top: 9px;
            }
            &:last-child{
                padding-bottom: 9px;
            }
            &:hover{
                background: #fff;
            }
        }
    }
}

.yc-components-assetStructureDetail_body-addRole {
    margin-top: 20px;
    .ant-btn {
        width: 100%;
    }
}
@mixin titleRightAlign($width:50px){
    width:$width;
    display: inline-block;
    text-align: right;
}

.basicDetail_row{
    @include titleRightAlign(120px);
}

.propertyDetail_row{
    @include titleRightAlign(110px);
}

.documentDetail_row{
    @include titleRightAlign(84px);
}

.wrongDetail_row{
    margin-left:50px;
}


//自动联想输入框
.atuo_complete,.atuo_complete_nodata{
    position: relative;
    width: 240px !important;
    .ant-select-search__field {
        width: 240px !important;
        margin: 0 !important;
    }
    .ant-select-selection__rendered {
        width: 220px !important;
    }
}

//无数据时样式
.atuo_complete_nodata{
    .ant-select-search__field{
        border: 1px solid #FD9C26 !important;
    }
}

.auto_complete_nodata{
    line-height: 12px;
    font-size: 12px;
    color: #FD9C26;
    padding: 4px 0 0 30px;
    margin-bottom: 0;
}

.auto_complete_nodatas{
    margin:4px 0 0 20px;
    width: 240px;
    height: 46px;
    background: #FFFFFF;
    box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    border: 1px solid #DDE0E7; 
    color: #7D8699;
    font-size: 14px;
    text-align: center;
    line-height: 46px;
}
